<!DOCTYPE html>
<html>
<head>
  <%= render 'application/head_contents' -%>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
  <%= yield %>
  <%= render "javascript" %>
</body>
</html>
